.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.input {
    width: 50vw;
    height: 4vh;
    border: 2px solid white;
    font-size: 14px;
    padding-left: 10px;
    text-transform: capitalize;
}

